@{
    ViewBag.Title = "Главная";
}
<div class="row">
    <div class="col-md-4">
        <h3>Успеваемость студентов по дисциплине программирование:</h3>
        <table class="table-bordered">
            <tr>
                <td><p>Фамилия</p></td>
                <td><p>Имя</p></td>
                <td><p>Номер группы</p></td>
                <td><p>Курс</p></td>
                <td><p>Оценка</p></td>
            </tr>
            @foreach (var c in ViewBag.Students)
            {
                <tr>
                    <td><p>@c.SecondName</p></td>
                    <td><p>@c.FirstName</p></td>
                    <td><p>@c.GroupNumber</p></td>
                    <td><p>@c.Course</p></td>
                    <td><p>@c.Grade</p></td>
                </tr>
            }
        </table>
    </div>
    <p>

    </p>
</div>